.lh-0-5 {
	line-height: $half;
}
.lh-1 {
	line-height: $one;
}
.lh-1-10 {
	line-height: $one-tenth;
}
.lh-1-15 {
	line-height: $one-fourth;
}
.lh-1-25 {
	line-height: $one-quarter;
}
.lh-1-45 {
	line-height: 1.45;
}
.lh-1-5 {
	line-height: $one-half;
}
.lh-1-55 {
	line-height: 1.55;
}
.lh-1-65 {
	line-height: $three-tenth;
}
.lh-1-75 {
	line-height: $three-quarter;
}
.lh-2 {
	line-height: $two;
}
.lh-2-5 {
	line-height: $two-half;
}
