.max-w-fixed {
	&-685 {
		max-width: 685px;
	}
	&-520 {
		max-width: 520px;
	}
	&-330 {
		max-width: 330px;
	}
	&-135 {
		max-width: 135px;
	}	
	&-80 {
		max-width: $xxxxxxxxxxxxxxl;
	}	
	&-40 {
		max-width: $xxxxl;
	}		
}

.w {
	&-fixed {
		&-345 {
			width: 345px;
		}		
		&-325 {
			width: 325px;
		}		
		&-310 {
			width: 310px;
		}	
		&-300 {
			width: 300px;
		}									
		&-265 {
			width: 265px;
		}	
		&-80 {
			width: $xxxxxxxxxxxxxxl;
		}		
		&-20 {
			width: $med;
		}
		&-18 {
			width: $h-small;
		}
		&-1 {
			width: $one+px;
		}
	}
}
