.m-auto {
	margin: auto !important;
}
.mx-auto {
	margin-left: auto !important;
	margin-right: auto !important;
}
.my-auto {
	margin-top: auto !important;
	margin-bottom: auto !important;
}
.mt-auto {
	margin-top: auto !important;
}
.mb-auto {
	margin-bottom: auto !important;
}
.ml-auto {
	margin-left: auto !important;
}
.mr-auto {
	margin-right: auto !important;
}
.m-xxxs {
	margin: $h-xxxs;
}
.mx-xxxs {
	margin-left: $h-xxxs;
	margin-right: $h-xxxs;
}
.my-xxxs {
	margin-top: $h-xxxs;
	margin-bottom: $h-xxxs;
}
.mt-xxxs {
	margin-top: $h-xxxs;
}
.mb-xxxs {
	margin-bottom: $h-xxxs;
}
.ml-xxxs {
	margin-left: $h-xxxs;
}
.mr-xxxs {
	margin-right: $h-xxxs;
}
.m-xxs {
	margin: $xxs;
}
.mx-xxs {
	margin-left: $xxs;
	margin-right: $xxs;
}
.my-xxs {
	margin-top: $xxs;
	margin-bottom: $xxs;
}
.mt-xxs {
	margin-top: $xxs;
}
.mb-xxs {
	margin-bottom: $xxs;
}
.ml-xxs {
	margin-left: $xxs;
}
.mr-xxs {
	margin-right: $xxs;
}
.m-h-xxs {
	margin: $h-xxs;
}
.mx-h-xxs {
	margin-left: $h-xxs;
	margin-right: $h-xxs;
}
.my-h-xxs {
	margin-top: $h-xxs;
	margin-bottom: $h-xxs;
}
.mt-h-xxs {
	margin-top: $h-xxs;
}
.mb-h-xxs {
	margin-bottom: $h-xxs;
}
.ml-h-xxs {
	margin-left: $h-xxs;
}
.mr-h-xxs {
	margin-right: $h-xxs;
}
.m-xs {
	margin: $xs;
}
.mx-xs {
	margin-left: $xs;
	margin-right: $xs;
}
.my-xs {
	margin-top: $xs;
	margin-bottom: $xs;
}
.mt-xs {
	margin-top: $xs;
}
.mb-xs {
	margin-bottom: $xs;
}
.ml-xs {
	margin-left: $xs;
}
.mr-xs {
	margin-right: $xs;
}
.m-small {
	margin: $small;
}
.mx-small {
	margin-left: $small;
	margin-right: $small;
}
.my-small {
	margin-top: $small;
	margin-bottom: $small;
}
.mt-small {
	margin-top: $small;
}
.mb-small {
	margin-bottom: $small;
}
.ml-small {
	margin-left: $small;
}
.mr-small {
	margin-right: $small;
}
.m-med {
	margin: $med;
}
.mx-med {
	margin-left: $med;
	margin-right: $med;
}
.my-med {
	margin-top: $med;
	margin-bottom: $med;
}
.mt-med {
	margin-top: $med;
}
.mb-med {
	margin-bottom: $med;
}
.ml-med {
	margin-left: $med;
}
.mr-med {
	margin-right: $med;
}
.m-lrg {
	margin: $lrg;
}
.mx-lrg {
	margin-left: $lrg;
	margin-right: $lrg;
}
.my-lrg {
	margin-top: $lrg;
	margin-bottom: $lrg;
}
.mt-lrg {
	margin-top: $lrg;
}
.mb-lrg {
	margin-bottom: $lrg;
}
.ml-lrg {
	margin-left: $lrg;
}
.mr-lrg {
	margin-right: $lrg;
}
.m-h-lrg {
	margin: $h-lrg;
}
.mx-h-lrg {
	margin-left: $h-lrg;
	margin-right: $h-lrg;
}
.my-h-lrg {
	margin-top: $h-lrg;
	margin-bottom: $h-lrg;
}
.mt-h-lrg {
	margin-top: $h-lrg;
}
.mb-h-lrg {
	margin-bottom: $h-lrg;
}
.ml-h-lrg {
	margin-left: $h-lrg;
}
.mr-h-lrg {
	margin-right: $h-lrg;
}
.m-xl {
	margin: $xl;
}
.mx-xl {
	margin-left: $xl;
	margin-right: $xl;
}
.my-xl {
	margin-top: $xl;
	margin-bottom: $xl;
}
.mt-xl {
	margin-top: $xl;
}
.mb-xl {
	margin-bottom: $xl;
}
.ml-xl {
	margin-left: $xl;
}
.mr-xl {
	margin-right: $xl;
}
.m-xxl {
	margin: $xxl;
}
.mx-xxl {
	margin-left: $xxl;
	margin-right: $xxl;
}
.my-xxl {
	margin-top: $xxl;
	margin-bottom: $xxl;
}
.mt-xxl {
	margin-top: $xxl;
}
.mb-xxl {
	margin-bottom: $xxl;
}
.ml-xxl {
	margin-left: $xxl;
}
.mr-xxl {
	margin-right: $xxl;
}
.mx-h-xxl {
	margin-left: $h-xxl;
	margin-right: $h-xxl;
}
.my-h-xxl {
	margin-top: $h-xxl;
	margin-bottom: $h-xxl;
}
.mt-h-xxl {
	margin-top: $h-xxl;
}
.mb-h-xxl {
	margin-bottom: $h-xxl;
}
.ml-h-xxl {
	margin-left: $h-xxl;
}
.mr-h-xxl {
	margin-right: $h-xxl;
}
.m-xxxl {
	margin: $xxxl;
}
.mx-xxxl {
	margin-left: $xxxl;
	margin-right: $xxxl;
}
.my-xxxl {
	margin-top: $xxxl;
	margin-bottom: $xxxl;
}
.mt-xxxl {
	margin-top: $xxxl;
}
.mb-xxxl {
	margin-bottom: $xxxl;
}
.ml-xxxl {
	margin-left: $xxxl;
}
.mr-xxxl {
	margin-right: $xxxl;
}
.m-xxxxl {
	margin: $xxxxl;
}
.mx-xxxxl {
	margin-left: $xxxxl;
	margin-right: $xxxxl;
}
.my-xxxxl {
	margin-top: $xxxxl;
	margin-bottom: $xxxxl;
}
.mt-xxxxl {
	margin-top: $xxxxl;
}
.mb-xxxxl {
	margin-bottom: $xxxxl;
}
.ml-xxxxl {
	margin-left: $xxxxl;
}
.mr-xxxxl {
	margin-right: $xxxxl;
}
.m-xxxxxl {
	margin: $xxxxxl;
}
.mx-xxxxxl {
	margin-left: $xxxxxl;
	margin-right: $xxxxxl;
}
.my-xxxxxl {
	margin-top: $xxxxxl;
	margin-bottom: $xxxxxl;
}
.mt-xxxxxl {
	margin-top: $xxxxxl;
}
.mb-xxxxxl {
	margin-bottom: $xxxxxl;
}
.ml-xxxxxl {
	margin-left: $xxxxxl;
}
.mr-xxxxxl {
	margin-right: $xxxxxl;
}
.m-xxxxxxl {
	margin: $xxxxxxl;
}
.mx-xxxxxxl {
	margin-left: $xxxxxxl;
	margin-right: $xxxxxxl;
}
.my-xxxxxxl {
	margin-top: $xxxxxxl;
	margin-bottom: $xxxxxxl;
}
.mt-xxxxxxl {
	margin-top: $xxxxxxl;
}
.mb-xxxxxxl {
	margin-bottom: $xxxxxxl;
}
.ml-xxxxxxl {
	margin-left: $xxxxxxl;
}
.mr-xxxxxxl {
	margin-right: $xxxxxxl;
}
.m-xxxxxxxl {
	margin: $xxxxxxxl;
}
.mx-xxxxxxxl {
	margin-left: $xxxxxxxl;
	margin-right: $xxxxxxxl;
}
.my-xxxxxxxl {
	margin-top: $xxxxxxxl;
	margin-bottom: $xxxxxxxl;
}
.mt-xxxxxxxl {
	margin-top: $xxxxxxxl;
}
.mb-xxxxxxxl {
	margin-bottom: $xxxxxxxl;
}
.ml-xxxxxxxl {
	margin-left: $xxxxxxxl;
}
.mr-xxxxxxxl {
	margin-right: $xxxxxxxl;
}
.m-xxxxxxxxl {
	margin: $xxxxxxxxl;
}
.mx-xxxxxxxxl {
	margin-left: $xxxxxxxxl;
	margin-right: $xxxxxxxxl;
}
.my-xxxxxxxxl {
	margin-top: $xxxxxxxxl;
	margin-bottom: $xxxxxxxxl;
}
.mt-xxxxxxxxl {
	margin-top: $xxxxxxxxl;
}
.mb-xxxxxxxxl {
	margin-bottom: $xxxxxxxxl;
}
.ml-xxxxxxxxl {
	margin-left: $xxxxxxxxl;
}
.mr-xxxxxxxxl {
	margin-right: $xxxxxxxxl;
}
.m-xxxxxxxxxl {
	margin: $xxxxxxxxxl;
}
.mx-xxxxxxxxxl {
	margin-left: $xxxxxxxxxl;
	margin-right: $xxxxxxxxxl;
}
.my-xxxxxxxxxl {
	margin-top: $xxxxxxxxxl;
	margin-bottom: $xxxxxxxxxl;
}
.mt-xxxxxxxxxl {
	margin-top: $xxxxxxxxxl;
}
.mb-xxxxxxxxxl {
	margin-bottom: $xxxxxxxxxl;
}
.ml-xxxxxxxxxl {
	margin-left: $xxxxxxxxxl;
}
.mr-xxxxxxxxxl {
	margin-right: $xxxxxxxxxl;
}
.m-xxxxxxxxxxl {
	margin: $xxxxxxxxxxl;
}
.mx-xxxxxxxxxxl {
	margin-left: $xxxxxxxxxxl;
	margin-right: $xxxxxxxxxxl;
}
.my-xxxxxxxxxxl {
	margin-top: $xxxxxxxxxxl;
	margin-bottom: $xxxxxxxxxxl;
}
.mt-xxxxxxxxxxl {
	margin-top: $xxxxxxxxxxl;
}
.mb-xxxxxxxxxxl {
	margin-bottom: $xxxxxxxxxxl;
}
.ml-xxxxxxxxxxl {
	margin-left: $xxxxxxxxxxl;
}
.mr-xxxxxxxxxxl {
	margin-right: $xxxxxxxxxxl;
}
.m-xxxxxxxxxxxl {
	margin: $xxxxxxxxxxxl;
}
.mx-xxxxxxxxxxxl {
	margin-left: $xxxxxxxxxxxl;
	margin-right: $xxxxxxxxxxxl;
}
.my-xxxxxxxxxxxl {
	margin-top: $xxxxxxxxxxxl;
	margin-bottom: $xxxxxxxxxxxl;
}
.mt-xxxxxxxxxxxl {
	margin-top: $xxxxxxxxxxxl;
}
.mb-xxxxxxxxxxxl {
	margin-bottom: $xxxxxxxxxxxl;
}
.ml-xxxxxxxxxxxl {
	margin-left: $xxxxxxxxxxxl;
}
.mr-xxxxxxxxxxxl {
	margin-right: $xxxxxxxxxxxl;
}
.m-xxxxxxxxxxxxl {
	margin: $xxxxxxxxxxxxl;
}
.mx-xxxxxxxxxxxxl {
	margin-left: $xxxxxxxxxxxxl;
	margin-right: $xxxxxxxxxxxxl;
}
.my-xxxxxxxxxxxxl {
	margin-top: $xxxxxxxxxxxxl;
	margin-bottom: $xxxxxxxxxxxxl;
}
.mt-xxxxxxxxxxxxl {
	margin-top: $xxxxxxxxxxxxl;
}
.mb-xxxxxxxxxxxxl {
	margin-bottom: $xxxxxxxxxxxxl;
}
.ml-xxxxxxxxxxxxl {
	margin-left: $xxxxxxxxxxxxl;
}
.mr-xxxxxxxxxxxxl {
	margin-right: $xxxxxxxxxxxxl;
}
.m-0 {
	margin: $zero;
}
.mx-0 {
	margin-left: $zero;
	margin-right: $zero;
}
.my-0 {
	margin-top: $zero;
	margin-bottom: $zero;
}
.mt-0 {
	margin-top: $zero;
}
.mb-0 {
	margin-bottom: $zero;
}
.ml-0 {
	margin-left: $zero;
}
.mr-0 {
	margin-right: $zero;
}