.px-0 {
	padding-left: $zero !important;
	padding-right: $zero !important;
}
.py-0 {
	padding-top: $zero !important;
	padding-bottom: $zero !important;
}
.pt-0 {
	padding-top: $zero !important;
}
.pb-0 {
	padding-bottom: $zero !important;
}
.pl-0 {
	padding-left: $zero !important;
}
.pr-0 {
	padding-right: $zero !important;
}
.px-xxxs {
	padding-left: $xxxs;
	padding-right: $xxxs;
}
.py-xxxs {
	padding-top: $xxxs;
	padding-bottom: $xxxs;
}
.pt-xxxs {
	padding-top: $xxxs;
}
.pb-xxxs {
	padding-bottom: $xxxs;
}
.pl-xxxs {
	padding-left: $xxxs;
}
.pr-xxxs {
	padding-right: $xxxs;
}
.p-xxs {
	padding: $xxs;
}
.px-xxs {
	padding-left: $xxs;
	padding-right: $xxs;
}
.py-xxs {
	padding-top: $xxs;
	padding-bottom: $xxs;
}
.pt-xxs {
	padding-top: $xxs;
}
.pb-xxs {
	padding-bottom: $xxs;
}
.pl-xxs {
	padding-left: $xxs;
}
.pr-xxs {
	padding-right: $xxs;
}
.p-small {
	padding: $small;
}
.px-small {
	padding-left: $small;
	padding-right: $small;
}
.py-small {
	padding-top: $small;
	padding-bottom: $small;
}
.pt-small {
	padding-top: $small;
}
.pb-small {
	padding-bottom: $small;
}
.pl-small {
	padding-left: $small;
}
.pr-small {
	padding-right: $small;
}
.p-med {
	padding: $med;
}
.px-med {
	padding-left: $med;
	padding-right: $med;
}
.py-med {
	padding-top: $med;
	padding-bottom: $med;
}
.pt-med {
	padding-top: $med;
}
.pb-med {
	padding-bottom: $med;
}
.pl-med {
	padding-left: $med;
}
.pr-med {
	padding-right: $med;
}
.p-lrg {
	padding: $lrg;
}
.px-lrg {
	padding-left: $lrg;
	padding-right: $lrg;
}
.py-lrg {
	padding-top: $lrg;
	padding-bottom: $lrg;
}
.pt-lrg {
	padding-top: $lrg;
}
.pb-lrg {
	padding-bottom: $lrg;
}
.pl-lrg {
	padding-left: $lrg;
}
.pr-lrg {
	padding-right: $lrg;
}
.p-h-lrg {
	padding: $h-lrg;
}
.px-h-lrg {
	padding-left: $h-lrg;
	padding-right: $h-lrg;
}
.py-h-lrg {
	padding-top: $h-lrg;
	padding-bottom: $h-lrg;
}
.pt-h-lrg {
	padding-top: $h-lrg;
}
.pb-h-lrg {
	padding-bottom: $h-lrg;
}
.pl-h-lrg {
	padding-left: $h-lrg;
}
.pr-h-lrg {
	padding-right: $h-lrg;
}
.p-xl {
	padding: $xl;
}
.px-xl {
	padding-left: $xl;
	padding-right: $xl;
}
.py-xl {
	padding-top: $xl;
	padding-bottom: $xl;
}
.pt-xl {
	padding-top: $xl;
}
.pb-xl {
	padding-bottom: $xl;
}
.pl-xl {
	padding-left: $xl;
}
.pr-xl {
	padding-right: $xl;
}
.p-xxl {
	padding: $xxl;
}
.px-xxl {
	padding-left: $xxl;
	padding-right: $xxl;
}
.py-xxl {
	padding-top: $xxl;
	padding-bottom: $xxl;
}
.pt-xxl {
	padding-top: $xxl;
}
.pb-xxl {
	padding-bottom: $xxl;
}
.pl-xxl {
	padding-left: $xxl;
}
.pr-xxl {
	padding-right: $xxl;
}
.p-xxxl {
	padding: $xxxl;
}
.px-xxxl {
	padding-left: $xxxl;
	padding-right: $xxxl;
}
.py-xxxl {
	padding-top: $xxxl;
	padding-bottom: $xxxl;
}
.pt-xxxl {
	padding-top: $xxxl;
}
.pb-xxxl {
	padding-bottom: $xxxl;
}
.pl-xxxl {
	padding-left: $xxxl;
}
.pr-xxxl {
	padding-right: $xxxl;
}
.p-h-xxxl {
	padding: $h-xxxl;
}
.px-h-xxxl {
	padding-left: $h-xxxl;
	padding-right: $h-xxxl;
}
.py-h-xxxl {
	padding-top: $h-xxxl;
	padding-bottom: $h-xxxl;
}
.pt-h-xxxl {
	padding-top: $h-xxxl;
}
.pb-h-xxxl {
	padding-bottom: $h-xxxl;
}
.pl-h-xxxl {
	padding-left: $h-xxxl;
}
.pr-h-xxxl {
	padding-right: $h-xxxl;
}
.p-xxxxl {
	padding: $xxxxl;
}
.px-xxxxl {
	padding-left: $xxxxl;
	padding-right: $xxxxl;
}
.py-xxxxl {
	padding-top: $xxxxl;
	padding-bottom: $xxxxl;
}
.pt-xxxxl {
	padding-top: $xxxxl;
}
.pb-xxxxl {
	padding-bottom: $xxxxl;
}
.pl-xxxxl {
	padding-left: $xxxxl;
}
.pr-xxxxl {
	padding-right: $xxxxl;
}
.p-xxxxxl {
	padding: $xxxxxl;
}
.px-xxxxxl {
	padding-left: $xxxxxl;
	padding-right: $xxxxxl;
}
.py-xxxxxl {
	padding-top: $xxxxxl;
	padding-bottom: $xxxxxl;
}
.pt-xxxxxl {
	padding-top: $xxxxxl;
}
.pb-xxxxxl {
	padding-bottom: $xxxxxl;
}
.pl-xxxxxl {
	padding-left: $xxxxxl;
}
.pr-xxxxxl {
	padding-right: $xxxxxl;
}
.p-xxxxxxl {
	padding: $xxxxxxl;
}
.px-xxxxxxl {
	padding-left: $xxxxxxl;
	padding-right: $xxxxxxl;
}
.py-xxxxxxl {
	padding-top: $xxxxxxl;
	padding-bottom: $xxxxxxl;
}
.pt-xxxxxxl {
	padding-top: $xxxxxxl;
}
.pb-xxxxxxl {
	padding-bottom: $xxxxxxl;
}
.pl-xxxxxxl {
	padding-left: $xxxxxxl;
}
.pr-xxxxxxl {
	padding-right: $xxxxxxl;
}
.p-xxxxxxxl {
	padding: $xxxxxxxl;
}
.px-xxxxxxxl {
	padding-left: $xxxxxxxl;
	padding-right: $xxxxxxxl;
}
.py-xxxxxxxl {
	padding-top: $xxxxxxxl;
	padding-bottom: $xxxxxxxl;
}
.pt-xxxxxxxl {
	padding-top: $xxxxxxxl;
}
.pb-xxxxxxxl {
	padding-bottom: $xxxxxxxl;
}
.pl-xxxxxxxl {
	padding-left: $xxxxxxxl;
}
.pr-xxxxxxxl {
	padding-right: $xxxxxxxl;
}
.p-xxxxxxxxl {
	padding: $xxxxxxxxl;
}
.px-xxxxxxxxl {
	padding-left: $xxxxxxxxl;
	padding-right: $xxxxxxxxl;
}
.py-xxxxxxxxl {
	padding-top: $xxxxxxxxl;
	padding-bottom: $xxxxxxxxl;
}
.pt-xxxxxxxxl {
	padding-top: $xxxxxxxxl;
}
.pb-xxxxxxxxl {
	padding-bottom: $xxxxxxxxl;
}
.pl-xxxxxxxxl {
	padding-left: $xxxxxxxxl;
}
.pr-xxxxxxxxl {
	padding-right: $xxxxxxxxl;
}
.p-xxxxxxxxxl {
	padding: $xxxxxxxxxl;
}
.px-xxxxxxxxxl {
	padding-left: $xxxxxxxxxl;
	padding-right: $xxxxxxxxxl;
}
.py-xxxxxxxxxl {
	padding-top: $xxxxxxxxxl;
	padding-bottom: $xxxxxxxxxl;
}
.pt-xxxxxxxxxl {
	padding-top: $xxxxxxxxxl;
}
.pb-xxxxxxxxxl {
	padding-bottom: $xxxxxxxxxl;
}
.pl-xxxxxxxxxl {
	padding-left: $xxxxxxxxxl;
}
.pr-xxxxxxxxxl {
	padding-right: $xxxxxxxxxl;
}
.p-xxxxxxxxxxl {
	padding: $xxxxxxxxxxl;
}
.px-xxxxxxxxxxl {
	padding-left: $xxxxxxxxxxl;
	padding-right: $xxxxxxxxxxl;
}
.py-xxxxxxxxxxl {
	padding-top: $xxxxxxxxxxl;
	padding-bottom: $xxxxxxxxxxl;
}
.pt-xxxxxxxxxxl {
	padding-top: $xxxxxxxxxxl;
}
.pb-xxxxxxxxxxl {
	padding-bottom: $xxxxxxxxxxl;
}
.pl-xxxxxxxxxxl {
	padding-left: $xxxxxxxxxxl;
}
.pr-xxxxxxxxxxl {
	padding-right: $xxxxxxxxxxl;
}
.p-xxxxxxxxxxxl {
	padding: $xxxxxxxxxxxl;
}
.px-xxxxxxxxxxxl {
	padding-left: $xxxxxxxxxxxl;
	padding-right: $xxxxxxxxxxxl;
}
.py-xxxxxxxxxxxl {
	padding-top: $xxxxxxxxxxxl;
	padding-bottom: $xxxxxxxxxxxl;
}
.pt-xxxxxxxxxxxl {
	padding-top: $xxxxxxxxxxxl;
}
.pb-xxxxxxxxxxxl {
	padding-bottom: $xxxxxxxxxxxl;
}
.pl-xxxxxxxxxxxl {
	padding-left: $xxxxxxxxxxxl;
}
.pr-xxxxxxxxxxxl {
	padding-right: $xxxxxxxxxxxl;
}
.p-xxxxxxxxxxxxl {
	padding: $xxxxxxxxxxxxl;
}
.px-xxxxxxxxxxxxl {
	padding-left: $xxxxxxxxxxxxl;
	padding-right: $xxxxxxxxxxxxl;
}
.py-xxxxxxxxxxxxl {
	padding-top: $xxxxxxxxxxxxl;
	padding-bottom: $xxxxxxxxxxxxl;
}
.pt-xxxxxxxxxxxxl {
	padding-top: $xxxxxxxxxxxxl;
}
.pb-xxxxxxxxxxxxl {
	padding-bottom: $xxxxxxxxxxxxl;
}
.pl-xxxxxxxxxxxxl {
	padding-left: $xxxxxxxxxxxxl;
}
.pr-xxxxxxxxxxxxl {
	padding-right: $xxxxxxxxxxxxl;
}