.subtitle-1 {
	font-size: $small;
	font-weight: 400;
}
.subtitle-2 {
	font-size: $h-xs;
	font-weight: 600;
}
.body-1 {
	font-size: $h-small;
	font-weight: 400;
}
.body-2 {
	font-size: $small;
	font-weight: 400;
}
.body-3 {
	font-size: $h-xs;
	font-weight: 400;
}
.button-1 {
	font-size: $h-xs;
	font-weight: 600;
	text-transform: uppercase;
}
.button-2 {
	font-size: $h-small;
	font-weight: 600;
	text-transform: uppercase;
}
.caption {
	font-family: 'Roboto', sans-serif;
	font-size: $xs;
	font-weight: 400;
}
.overline {
	font-family: 'Roboto', sans-serif;
	font-size: $h-xxs;
	font-weight: 400;
	text-transform: uppercase;
}