h1 {
	font-size: $xxxxxxxxxxxxxxxxxxl;
	font-weight: 300;
}
h2 {
	font-size: $xxxxxxxxxl;
	font-weight: 300;
}
h3 {
	font-size: $xxxxxxl;
	font-weight: 400;
}
h4 {
	font-size: $h-xxl;
	font-weight: 800;
}
h5 {
	font-size: $lrg;
	font-weight: 400;
}
h6 {
	font-size: $med;
	font-weight: 600;
}