.fs-xxs {
	font-size: $xxs;
}
.fs-xs {
	font-size: $xs;
}
.fs-h-xs {
	font-size: $h-xs;
}
.fs-small {
	font-size: $small;
}
.fs-med {
	font-size: $med;
}
.fs-lrg {
	font-size: $lrg;
}
.fs-xl {
	font-size: $xl;
}
.fs-xxl {
	font-size: $xxl;
}
