$palettes: (
	grey: (
		xxx-light: #FAFBFD,
		xx-light: rgba(33, 33, 33, 0.08),
		x-light: rgba(41, 57, 67, 0.3),
		light: rgba(41, 57, 67, 0.5),
		base: #293943
	),
	blue: (
		xxxx-light: rgba(43, 163, 239, 0.04),
		light: #2BA3EF,
		base: #296FA2
	),
	green: (
		light: #E2F9EF
	),
);

$white: #fff;