.strike {
	text-decoration: line-through;
}
.no-decor {
	text-decoration: none;
}
.uppercase {
	text-transform: uppercase;
}
.lowercase {
	text-transform: lowercase;
}
.capitalize {
	text-transform: capitalize;
}
.sentence {
	text-transform: none;
}