.fw-light {
	font-weight: 100 !important;
}
.fw-thin {
	font-weight: 300 !important;
}
.fw-regular {
	font-weight: 400 !important;
}
.fw-medium {
	font-weight: 500 !important;
}
.fw-semibold {
	font-weight: 600 !important;
}
.fw-bold {
	font-weight: 700 !important;
}
.fw-extrabold {
	font-weight: 800 !important;	
}
.fw-black {
	font-weight: 900 !important;	
}