.flex {
	@include flexbox();
}
.flex-wrap {
	@include flex-wrap(wrap);
}
.flex-nowrap {
	@include flex-wrap(nowrap);
}
.flex-wrapreverse {
	@include flex-wrap(wrap-reverse);
}
.flex-row {
	@include flex-direction(row);
}
.flex-rowreverse {
	@include flex-direction(row-reverse);
}
.flex-column {
	@include flex-direction(column);
}
.flex-columnreverse {
	@include flex-direction(column-reverse);
}
.justify-start {
	@include justify-content(flex-start);
}
.justify-end {
	@include justify-content(flex-end);
}
.justify-center {
	@include justify-content(center);
}
.justify-between {
	@include justify-content(space-between);
}
.justify-around {
	@include justify-content(space-around);
}
.align-items-start {
	@include align-items(flex-start);
}
.align-items-end {
	@include align-items(flex-end);
}
.align-items-center {
	@include align-items(center);
}
.align-items-baseline {
	@include align-items(baseline);
}
.align-items-stretch {
	@include align-items(stretch);
}