.pos-rel {
	position: relative;
}
.pos-abs {
	position: absolute;
}
.float-right {
	float: right;
}
.float-left {
	float: left;
}
.top {
	&-0 {
		top: 0;
	}
}
.bottom {
	&-m-25 {
		bottom: -25px;
	}
	&-0 {
		bottom: 0;
	}
}
.left {
	&-0 {
		left: 0;
	}
	&-m-20 {
		left: -20px;
	}
}
.right {
	&-0 {
		right: 0;
	}
}