button {
	border-radius: $xxxs;
	border: none;
	cursor: pointer;
	padding: $h-xxs $med;
	font-family: "Open Sans", sans-serif;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: $h-xs;
	transition: background-color ease-in .5s, color ease-in .15s;

	&:disabled {
		background-color: $white;
		color: palette(grey, x-light);
	}
}


.btn {
	&-primary {
		background-color: palette(blue, base);
		color: $white;
	}	

	&-secondary {
		color: palette(blue, base);
	}

	&-info {
		padding: $xxs $small;
	}

	&-arrow {
		&-left {
			@include background('../assets/left-arrow.svg');
		  background-repeat: no-repeat;
		  background-position: 20% 50%;
		  padding: $h-xxs $med $h-xxs 35px;
		  background-size: $xs;
		}
		
		&-right {
			//@include background('../assets/right-arrow.svg');
		  background-repeat: no-repeat;
		  background-position: 80% 50%;
		  padding: $h-xxs 35px $h-xxs $med;
		  background-size: $xs;		
		} 	
	}
}