label {
	select {
		@include background('../assets/dropdown.svg');
		background-repeat: no-repeat;
		background-position: 95% 50%;
		display: block;
		-webkit-appearance: none;
		padding: $h-xxs 35px $h-xxs $h-xxs;
		font-family: "Open Sans", sans-serif;
		border: $one+px solid palette(grey, light);
		border-radius: $h-xxxxs;
		background-color: $white;
		color: palette(grey, base);
		font-size: $small;
		line-height: $one-quarter;

		 &.select-styled:invalid {
      color: palette(grey, light);
    }		
	}
}

.accordion-checkbox {
	&-content {
    max-height: 0;
    height: auto;
    overflow: hidden;
    transition: all ease .15s;
    list-style: none;
    padding-left: $med;    
	}

  label {
    @include background('../assets/chevron-right.svg');
    background-repeat: no-repeat;
    background-position: 100% 50%;
    cursor: pointer; 
  }

	li {
		&:before {
			content: url('../assets/base-check.svg');
	    margin-left: -$h-small;
	    margin-right: $h-xxs;
		}

		&.empty-li:before {
			content: '';
			display: block;
		}
  }  
}