label {
  font-family: "Open Sans", sans-serif;
  color: palette(grey, base);
  font-size: $small;
  line-height: $one-quarter;  

  & input {
    padding: $h-xxs;
    font-family: "Open Sans", sans-serif;
    border: $one+px solid palette(grey, light);
    border-radius: $h-xxxxs;
    color: palette(grey, base);
    font-size: $small;
    line-height: $one-quarter;
    margin-top: $xxs;
    box-sizing: border-box;

    &::placeholder {
      color: palette(grey, light);
    }
  }
}

input {
  outline: none !important;
  // radio input
  &[type="radio"] {
    position: relative;
    display: inline-block;
    width:  $h-small;
    height: $h-small;
    border-radius: 100%;
    -webkit-appearance: none;
    
    &::before {
      position: relative;
      top:  -3px;
      left: -3px;
      display: block;
      content: '';
      border: $h-xxxxs solid palette(grey, light);
      border-radius: 100%;
      width:  $h-small;
      height: $h-small;
    }
    &:checked::before {
      border-color: palette(blue, base);
    }
    
    &::after {
      position: relative;
      top: -($h-small / $two) - 3px;
      left: ($h-small / $two) - 3px;
      display: block;
      content: '';
      background: palette(blue, base);
      border-radius: 100%;
      width:  $zero;
      height: $zero;
    }
    &:checked::after {
      @include prefix(transition, all 0.2s ease, webkit);
      top: - $med;
      left: $h-xxxxs;
      width: $xs;
      height: $xs;
    }
  } 

  // date input
  &[type="date"] {
    -webkit-appearance: none;
    line-height: 1.15;
    @include background('../assets/calendar.svg');
    background-repeat: no-repeat;
    background-position: 95% 50%;    

    &::-webkit-inner-spin-button {
      display: none;
    }

    &::-webkit-calendar-picker-indicator {
      color: rgba(0, 0, 0, 0);
      opacity: 1;
      cursor: pointer;

      &:hover {
        background: transparent;
      }
    }

    &:invalid {
      color: palette(grey, light);
    }    
  }

  // checkbox input
  &[type="checkbox"] {
    position: absolute;
    opacity: 0;

    & ~ label:before {
      content: '';
      margin-right: $h-xxs;
      display: inline-block;
      vertical-align: text-bottom;
      width: $small;
      height: $small;
      background: transparent;
      border: $h-xxxxs solid rgba(41, 57, 67, 0.5);
      border-radius: $xxxs;
    }  

    &:checked {
      ~ label {
        &:before {
          transition: all ease-in-out .1s;
          background: palette(blue, base);
          border: $h-xxxxs solid palette(blue, base);
        }

        &:after {
          content: '';
          position: absolute;
          left: $med;
          top: $xl;
          background: $white;
          width: $h-xxxxs;
          height: $h-xxxxs;
          box-shadow: -1px $zero $zero $white, 
                      $h-xxxxs $zero $zero $white, 
                      $xxxs $zero $zero $white, 
                      $xxxs -2px $zero $white, 
                      $xxxs -4px $zero $white, 
                      $xxxs -6px $zero $white, 
                      $xxxs -8px $zero $white, 
                      $xxxs -10px $zero $white, 
                      $xxxs -12px $zero $white;
          transform: rotate(45deg);          
        }
      }
      
      ~ .accordion-checkbox-content {
        max-height: 100vh;
        transition: all ease .5s;
        margin-top: $h-lrg;
      }

      ~ label.accordion-checkbox-heading {
        @include background('../assets/chevron-down.svg');
      }      
    }

    ~ label.input-label {
      &:before {
        margin-right: $h-xxs;
      }
      &:after {
        top: $xs;
        left: $xxxs;
      }

      &-unspaced {
        &:before {
          margin-right: $zero;
        }
        &:after {
          top: $xs;
          left: $xxxs;
        }        
      }

    }
  }
}

textarea {
  padding: $small;
  font-family: "Open Sans", sans-serif;
  border: $one+px solid palette(grey, light);
  border-radius: $h-xxxxs;
  color: palette(grey, base);
  font-size: $small;
  line-height: $one-quarter;
  margin-top: $xxs;
  box-sizing: border-box;  
}
