.modal {
  position: fixed;
  z-index: 1;
}

.modal-content {
  background-color: white;
  position: absolute;
  top: 50%;
  left: 40%;
  width: 20%;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
