$gutter-full: 24px;
$gutter-half: $gutter-full / 2;

$max-width: 1440px;
$column-width: 94px;
$max-column: 12;

// base int
$zero: 0;
$half: .5;
$one: 1;
$one-tenth: 1.10;
$one-fourth: 1.15;
$one-quarter: 1.25;
$one-half: 1.5;
$three-tenth: 1.65;
$three-quarter: 1.75;
$two: 2;
$two-half: 2.5;

// spacings are always multiples of 4
$xxxs: 4px;
$xxs: 8px;
$xs: 12px;
$small: 16px;
$med: 20px;
$lrg: 24px;
$xl: 28px;
$xxl: 32px;
$xxxl: 36px;
$xxxxl: 40px;
$xxxxxl: 44px;
$xxxxxxl: 48px;
$xxxxxxxl: 52px;
$xxxxxxxxl: 56px;
$xxxxxxxxxl: 60px;
$xxxxxxxxxxl: 64px;
$xxxxxxxxxxxl: 68px;
$xxxxxxxxxxxxl: 72px;
$xxxxxxxxxxxxxl: 76px;
$xxxxxxxxxxxxxxl: 80px;
$xxxxxxxxxxxxxxxl: 84px;
$xxxxxxxxxxxxxxxxl: 88px;
$xxxxxxxxxxxxxxxxxl: 92px;
$xxxxxxxxxxxxxxxxxxl: 96px;

// half of 4 spacings (multiples of 2)
$h-xxxxs: 2px;
$h-xxxs: 6px;
$h-xxs: 10px;
$h-xs: 14px;
$h-small: 18px;
$h-med: 22px;
$h-lrg: 26px;
$h-xl: 30px;
$h-xxl: 34px;
$h-xxxl: 38px;
$h-xxxxxl: 46px;
$h-xxxxxxl: 50px;
$h-xxxxxxxxxxxxxxxxl: 90px;
