body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}

div {
	position: relative;
}

button,
input,
select,
a {
	
	&:hover {
		cursor: pointer;
	}
}

.border-box {
	@include prefix(box-sizing, border-box, moz webkit);
}
    