.container {
	max-width: 1440px;
	margin-left: auto;
	margin-right: auto;
}

.row {
	@include flexbox();
	@include flex-wrap(wrap);
}

.gutter {
	margin-left: $gutter-half;
	margin-right: $gutter-half;
}

.w-100 {
	width: 100%;
}
.w-75 {
	width: 75%;
}
.w-50 {
	width: 50%;
}
.w-20 {
	width: 20%;
}