.ease {
	&-0-25s {
		@include prefix(transition, all 0.25s ease, webkit);
	}

	&-0-15s {
		@include prefix(transition, all 0.15s ease, webkit);
	}	

	&-in {
		&-5s {
			@include prefix(transition, all 0.5s ease-in, webkit);
		}
	}
}

.fade {
	&-in {
		&-5s {
			@include prefix(animation, fadeIn 0.5s ease, webkit moz o ms);
		}
	}
}

@include keyframes(fadeIn) {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }	
}

// .pulse {
// 	&-1s {
//  	animation: pulse 1s;
// 	}
// }

// @keyframes pulse {
//   0% {
//     opacity: .1;
//   }
//   100% {
//     opacity: 1;
//   }
// }