.bg-xxx-light-grey {
	background-color: palette(grey, xxx-light);
}
.bg-xx-light-grey {
	background-color: palette(grey, xx-light);
}
.bg-x-light-grey {
	background-color: palette(grey, x-light);
}
.bg-light-grey {
	background-color: palette(grey, light);
}
.bg-grey {
	background-color: palette(grey, base);
}
.bg-xxxx-light-blue {
	background-color: palette(blue, xxxx-light);
}
.bg-light-blue {
	background-color: palette(blue, light);
}
.bg-blue {
	background-color: palette(blue, base);
}
.bg-light-green {
	background-color: palette(green, light);
}
.bg-white {
	background-color: $white;
}
.bg-transparent {
	background-color: transparent;
}
.bg-blue-check {
	@include background('../assets/check.svg');
	background-repeat: no-repeat;
	background-position: center;
}