.bb-xx-light-grey {
	border-bottom: 1px solid palette(grey, xx-light);
}

.border {
	&-blue {
		border: 1px solid palette(blue, base);
	}

	&-rounded {
		&-light-blue {
			border: 1px solid palette(blue, light);
			border-radius: 100%;
		}

		&-light-grey {
			border: 1px solid palette(grey, light);
			border-radius: 100%;
		}		
	}

	&2x {
		&-rounded {
			&-light-blue {
				border: 2px solid palette(blue, light);
				border-radius: 100%;
			}			
		}		
	}
}

.br {
	&-1 {
		border-radius: $one+px;
	}

	&-2 {
		border-radius: $h-xxxxs;
	}

	&-xxxs {
		border-radius: $xxxs;
	}

	&-pill {
		border-radius: $h-xxxxxl;
	}

	&-circle {
		border-radius: 100%;
	}	
}

.box-shadow-soft {
	box-shadow: 0px 1px 3px rgba(63, 63, 68, 0.15), 0px 0px 0px rgba(63, 63, 68, 0.05);
}