@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.col-1 {
  width: 8.3333333333%;
}

.col-2 {
  width: 16.6666666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333333333%;
}

.col-5 {
  width: 41.6666666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.3333333333%;
}

.col-8 {
  width: 66.6666666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.3333333333%;
}

.col-11 {
  width: 91.6666666667%;
}

.col-12 {
  width: 100%;
}

.s-col-1 {
  width: 142px;
  padding-left: 12px;
  padding-right: 12px;
}

.s-col-2 {
  width: 260px;
  padding-left: 12px;
  padding-right: 12px;
}

.s-col-3 {
  width: 378px;
  padding-left: 12px;
  padding-right: 12px;
}

.s-col-4 {
  width: 496px;
  padding-left: 12px;
  padding-right: 12px;
}

.s-col-5 {
  width: 614px;
  padding-left: 12px;
  padding-right: 12px;
}

.s-col-6 {
  width: 732px;
  padding-left: 12px;
  padding-right: 12px;
}

.s-col-7 {
  width: 850px;
  padding-left: 12px;
  padding-right: 12px;
}

.s-col-8 {
  width: 968px;
  padding-left: 12px;
  padding-right: 12px;
}

.s-col-9 {
  width: 1086px;
  padding-left: 12px;
  padding-right: 12px;
}

.s-col-10 {
  width: 1204px;
  padding-left: 12px;
  padding-right: 12px;
}

.s-col-11 {
  width: 1322px;
  padding-left: 12px;
  padding-right: 12px;
}

.s-col-12 {
  width: 1440px;
  padding-left: 12px;
  padding-right: 12px;
}

:focus {
  outline: none;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

div {
  position: relative;
}

button:hover,
input:hover,
select:hover,
a:hover {
  cursor: pointer;
}

.border-box {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.gutter {
  margin-left: 12px;
  margin-right: 12px;
}

.w-100 {
  width: 100%;
}

.w-75 {
  width: 75%;
}

.w-50 {
  width: 50%;
}

.w-20 {
  width: 20%;
}

.list-unstyled {
  list-style: none;
  padding: 0;
  margin: 0;
}
.list-unstyled li {
  margin-bottom: 0;
}

li {
  margin-bottom: 8px;
}
li:last-child {
  margin-bottom: 0;
}

h1 {
  font-size: 96px;
  font-weight: 300;
}

h2 {
  font-size: 60px;
  font-weight: 300;
}

h3 {
  font-size: 48px;
  font-weight: 400;
}

h4 {
  font-size: 34px;
  font-weight: 800;
}

h5 {
  font-size: 24px;
  font-weight: 400;
}

h6 {
  font-size: 20px;
  font-weight: 600;
}

.subtitle-1 {
  font-size: 16px;
  font-weight: 400;
}

.subtitle-2 {
  font-size: 14px;
  font-weight: 600;
}

.body-1 {
  font-size: 18px;
  font-weight: 400;
}

.body-2 {
  font-size: 16px;
  font-weight: 400;
}

.body-3 {
  font-size: 14px;
  font-weight: 400;
}

.button-1 {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.button-2 {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}

.caption {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
}

.overline {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
}

.fs-xxs {
  font-size: 8px;
}

.fs-xs {
  font-size: 12px;
}

.fs-h-xs {
  font-size: 14px;
}

.fs-small {
  font-size: 16px;
}

.fs-med {
  font-size: 20px;
}

.fs-lrg {
  font-size: 24px;
}

.fs-xl {
  font-size: 28px;
}

.fs-xxl {
  font-size: 32px;
}

.lh-0-5 {
  line-height: 0.5;
}

.lh-1 {
  line-height: 1;
}

.lh-1-10 {
  line-height: 1.1;
}

.lh-1-15 {
  line-height: 1.15;
}

.lh-1-25 {
  line-height: 1.25;
}

.lh-1-45 {
  line-height: 1.45;
}

.lh-1-5 {
  line-height: 1.5;
}

.lh-1-55 {
  line-height: 1.55;
}

.lh-1-65 {
  line-height: 1.65;
}

.lh-1-75 {
  line-height: 1.75;
}

.lh-2 {
  line-height: 2;
}

.lh-2-5 {
  line-height: 2.5;
}

.ls-0-4 {
  letter-spacing: 0.4px;
}

.ls-1 {
  letter-spacing: 1px;
}

.ls-1-5 {
  letter-spacing: 1.5px;
}

.ls-2 {
  letter-spacing: 2px;
}

.ls-2-5 {
  letter-spacing: 2.5px;
}

button {
  border-radius: 4px;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
  transition: background-color ease-in 0.5s, color ease-in 0.15s;
}
button:disabled {
  background-color: #fff;
  color: rgba(41, 57, 67, 0.3);
}

.btn-primary {
  background-color: #296FA2;
  color: #fff;
}
.btn-secondary {
  color: #296FA2;
}
.btn-info {
  padding: 8px 16px;
}
.btn-arrow-left {
  background-image: url("../assets/left-arrow.svg");
  background-repeat: no-repeat;
  background-position: 20% 50%;
  padding: 10px 20px 10px 35px;
  background-size: 12px;
}
.btn-arrow-right {
  background-repeat: no-repeat;
  background-position: 80% 50%;
  padding: 10px 35px 10px 20px;
  background-size: 12px;
}

label {
  font-family: "Open Sans", sans-serif;
  color: #293943;
  font-size: 16px;
  line-height: 1.25;
}
label input {
  padding: 10px;
  font-family: "Open Sans", sans-serif;
  border: 1px solid rgba(41, 57, 67, 0.5);
  border-radius: 2px;
  color: #293943;
  font-size: 16px;
  line-height: 1.25;
  margin-top: 8px;
  box-sizing: border-box;
}
label input::placeholder {
  color: rgba(41, 57, 67, 0.5);
}

input {
  outline: none !important;
}
input[type=radio] {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 100%;
  -webkit-appearance: none;
}
input[type=radio]::before {
  position: relative;
  top: -3px;
  left: -3px;
  display: block;
  content: "";
  border: 2px solid rgba(41, 57, 67, 0.5);
  border-radius: 100%;
  width: 18px;
  height: 18px;
}
input[type=radio]:checked::before {
  border-color: #296FA2;
}
input[type=radio]::after {
  position: relative;
  top: -12px;
  left: 6px;
  display: block;
  content: "";
  background: #296FA2;
  border-radius: 100%;
  width: 0;
  height: 0;
}
input[type=radio]:checked::after {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  top: -20px;
  left: 2px;
  width: 12px;
  height: 12px;
}
input[type=date] {
  -webkit-appearance: none;
  line-height: 1.15;
  background-image: url("../assets/calendar.svg");
  background-repeat: no-repeat;
  background-position: 95% 50%;
}
input[type=date]::-webkit-inner-spin-button {
  display: none;
}
input[type=date]::-webkit-calendar-picker-indicator {
  color: rgba(0, 0, 0, 0);
  opacity: 1;
  cursor: pointer;
}
input[type=date]::-webkit-calendar-picker-indicator:hover {
  background: transparent;
}
input[type=date]:invalid {
  color: rgba(41, 57, 67, 0.5);
}
input[type=checkbox] {
  position: absolute;
  opacity: 0;
}
input[type=checkbox] ~ label:before {
  content: "";
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-bottom;
  width: 16px;
  height: 16px;
  background: transparent;
  border: 2px solid rgba(41, 57, 67, 0.5);
  border-radius: 4px;
}
input[type=checkbox]:checked ~ label:before {
  transition: all ease-in-out 0.1s;
  background: #296FA2;
  border: 2px solid #296FA2;
}
input[type=checkbox]:checked ~ label:after {
  content: "";
  position: absolute;
  left: 20px;
  top: 28px;
  background: #fff;
  width: 2px;
  height: 2px;
  box-shadow: -1px 0 0 #fff, 2px 0 0 #fff, 4px 0 0 #fff, 4px -2px 0 #fff, 4px -4px 0 #fff, 4px -6px 0 #fff, 4px -8px 0 #fff, 4px -10px 0 #fff, 4px -12px 0 #fff;
  transform: rotate(45deg);
}
input[type=checkbox]:checked ~ .accordion-checkbox-content {
  max-height: 100vh;
  transition: all ease 0.5s;
  margin-top: 26px;
}
input[type=checkbox]:checked ~ label.accordion-checkbox-heading {
  background-image: url("../assets/chevron-down.svg");
}
input[type=checkbox] ~ label.input-label:before {
  margin-right: 10px;
}
input[type=checkbox] ~ label.input-label:after {
  top: 12px;
  left: 4px;
}
input[type=checkbox] ~ label.input-label-unspaced:before {
  margin-right: 0;
}
input[type=checkbox] ~ label.input-label-unspaced:after {
  top: 12px;
  left: 4px;
}

textarea {
  padding: 16px;
  font-family: "Open Sans", sans-serif;
  border: 1px solid rgba(41, 57, 67, 0.5);
  border-radius: 2px;
  color: #293943;
  font-size: 16px;
  line-height: 1.25;
  margin-top: 8px;
  box-sizing: border-box;
}

label select {
  background-image: url("../assets/dropdown.svg");
  background-repeat: no-repeat;
  background-position: 95% 50%;
  display: block;
  -webkit-appearance: none;
  padding: 10px 35px 10px 10px;
  font-family: "Open Sans", sans-serif;
  border: 1px solid rgba(41, 57, 67, 0.5);
  border-radius: 2px;
  background-color: #fff;
  color: #293943;
  font-size: 16px;
  line-height: 1.25;
}
label select.select-styled:invalid {
  color: rgba(41, 57, 67, 0.5);
}

.accordion-checkbox-content {
  max-height: 0;
  height: auto;
  overflow: hidden;
  transition: all ease 0.15s;
  list-style: none;
  padding-left: 20px;
}
.accordion-checkbox label {
  background-image: url("../assets/chevron-right.svg");
  background-repeat: no-repeat;
  background-position: 100% 50%;
  cursor: pointer;
}
.accordion-checkbox li:before {
  content: url("../assets/base-check.svg");
  margin-left: -18px;
  margin-right: 10px;
}
.accordion-checkbox li.empty-li:before {
  content: "";
  display: block;
}

.modal {
  position: fixed;
  z-index: 1;
}

.modal-content {
  background-color: white;
  position: absolute;
  top: 50%;
  left: 40%;
  width: 20%;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.light-grey {
  color: rgba(41, 57, 67, 0.5);
}

.grey {
  color: #293943;
}

.blue {
  color: #296FA2;
}

.light-green {
  color: #E2F9EF;
}

.white {
  color: #fff;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

.v-align-top {
  vertical-align: top;
}

.fw-light {
  font-weight: 100 !important;
}

.fw-thin {
  font-weight: 300 !important;
}

.fw-regular {
  font-weight: 400 !important;
}

.fw-medium {
  font-weight: 500 !important;
}

.fw-semibold {
  font-weight: 600 !important;
}

.fw-bold {
  font-weight: 700 !important;
}

.fw-extrabold {
  font-weight: 800 !important;
}

.fw-black {
  font-weight: 900 !important;
}

.strike {
  text-decoration: line-through;
}

.no-decor {
  text-decoration: none;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.capitalize {
  text-transform: capitalize;
}

.sentence {
  text-transform: none;
}

.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.flex-wrap {
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flex-nowrap {
  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.flex-wrapreverse {
  -webkit-flex-wrap: wrap-reverse;
  -moz-flex-wrap: wrap-reverse;
  -ms-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
}

.flex-row {
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.flex-rowreverse {
  -webkit-flex-direction: row-reverse;
  -moz-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.flex-column {
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.flex-columnreverse {
  -webkit-flex-direction: column-reverse;
  -moz-flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}

.justify-start {
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: flex-start;
}

.justify-end {
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end;
  -ms-flex-pack: flex-end;
}

.justify-center {
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
}

.justify-between {
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
}

.justify-around {
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-pack: space-around;
}

.align-items-start {
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
}

.align-items-end {
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  -ms-align-items: flex-end;
  -ms-flex-align: flex-end;
  align-items: flex-end;
}

.align-items-center {
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.align-items-baseline {
  -webkit-align-items: baseline;
  -moz-align-items: baseline;
  -ms-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

.align-items-stretch {
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  -ms-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.block {
  display: block;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.hidden {
  display: none !important;
}

.pos-rel {
  position: relative;
}

.pos-abs {
  position: absolute;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.top-0 {
  top: 0;
}

.bottom-m-25 {
  bottom: -25px;
}
.bottom-0 {
  bottom: 0;
}

.left-0 {
  left: 0;
}
.left-m-20 {
  left: -20px;
}

.right-0 {
  right: 0;
}

.max-w-fixed-685 {
  max-width: 685px;
}
.max-w-fixed-520 {
  max-width: 520px;
}
.max-w-fixed-330 {
  max-width: 330px;
}
.max-w-fixed-135 {
  max-width: 135px;
}
.max-w-fixed-80 {
  max-width: 80px;
}
.max-w-fixed-40 {
  max-width: 40px;
}

.w-fixed-345 {
  width: 345px;
}
.w-fixed-325 {
  width: 325px;
}
.w-fixed-310 {
  width: 310px;
}
.w-fixed-300 {
  width: 300px;
}
.w-fixed-265 {
  width: 265px;
}
.w-fixed-80 {
  width: 80px;
}
.w-fixed-20 {
  width: 20px;
}
.w-fixed-18 {
  width: 18px;
}
.w-fixed-1 {
  width: 1px;
}

.h-fixed-50 {
  height: 50px;
}
.h-fixed-36 {
  height: 36px;
}
.h-fixed-25 {
  height: 25px;
}
.h-fixed-20 {
  height: 20px;
}
.h-fixed-18 {
  height: 18px;
}

.px-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pl-0 {
  padding-left: 0 !important;
}

.pr-0 {
  padding-right: 0 !important;
}

.px-xxxs {
  padding-left: 4px;
  padding-right: 4px;
}

.py-xxxs {
  padding-top: 4px;
  padding-bottom: 4px;
}

.pt-xxxs {
  padding-top: 4px;
}

.pb-xxxs {
  padding-bottom: 4px;
}

.pl-xxxs {
  padding-left: 4px;
}

.pr-xxxs {
  padding-right: 4px;
}

.p-xxs {
  padding: 8px;
}

.px-xxs {
  padding-left: 8px;
  padding-right: 8px;
}

.py-xxs {
  padding-top: 8px;
  padding-bottom: 8px;
}

.pt-xxs {
  padding-top: 8px;
}

.pb-xxs {
  padding-bottom: 8px;
}

.pl-xxs {
  padding-left: 8px;
}

.pr-xxs {
  padding-right: 8px;
}

.p-small {
  padding: 16px;
}

.px-small {
  padding-left: 16px;
  padding-right: 16px;
}

.py-small {
  padding-top: 16px;
  padding-bottom: 16px;
}

.pt-small {
  padding-top: 16px;
}

.pb-small {
  padding-bottom: 16px;
}

.pl-small {
  padding-left: 16px;
}

.pr-small {
  padding-right: 16px;
}

.p-med {
  padding: 20px;
}

.px-med {
  padding-left: 20px;
  padding-right: 20px;
}

.py-med {
  padding-top: 20px;
  padding-bottom: 20px;
}

.pt-med {
  padding-top: 20px;
}

.pb-med {
  padding-bottom: 20px;
}

.pl-med {
  padding-left: 20px;
}

.pr-med {
  padding-right: 20px;
}

.p-lrg {
  padding: 24px;
}

.px-lrg {
  padding-left: 24px;
  padding-right: 24px;
}

.py-lrg {
  padding-top: 24px;
  padding-bottom: 24px;
}

.pt-lrg {
  padding-top: 24px;
}

.pb-lrg {
  padding-bottom: 24px;
}

.pl-lrg {
  padding-left: 24px;
}

.pr-lrg {
  padding-right: 24px;
}

.p-h-lrg {
  padding: 26px;
}

.px-h-lrg {
  padding-left: 26px;
  padding-right: 26px;
}

.py-h-lrg {
  padding-top: 26px;
  padding-bottom: 26px;
}

.pt-h-lrg {
  padding-top: 26px;
}

.pb-h-lrg {
  padding-bottom: 26px;
}

.pl-h-lrg {
  padding-left: 26px;
}

.pr-h-lrg {
  padding-right: 26px;
}

.p-xl {
  padding: 28px;
}

.px-xl {
  padding-left: 28px;
  padding-right: 28px;
}

.py-xl {
  padding-top: 28px;
  padding-bottom: 28px;
}

.pt-xl {
  padding-top: 28px;
}

.pb-xl {
  padding-bottom: 28px;
}

.pl-xl {
  padding-left: 28px;
}

.pr-xl {
  padding-right: 28px;
}

.p-xxl {
  padding: 32px;
}

.px-xxl {
  padding-left: 32px;
  padding-right: 32px;
}

.py-xxl {
  padding-top: 32px;
  padding-bottom: 32px;
}

.pt-xxl {
  padding-top: 32px;
}

.pb-xxl {
  padding-bottom: 32px;
}

.pl-xxl {
  padding-left: 32px;
}

.pr-xxl {
  padding-right: 32px;
}

.p-xxxl {
  padding: 36px;
}

.px-xxxl {
  padding-left: 36px;
  padding-right: 36px;
}

.py-xxxl {
  padding-top: 36px;
  padding-bottom: 36px;
}

.pt-xxxl {
  padding-top: 36px;
}

.pb-xxxl {
  padding-bottom: 36px;
}

.pl-xxxl {
  padding-left: 36px;
}

.pr-xxxl {
  padding-right: 36px;
}

.p-h-xxxl {
  padding: 38px;
}

.px-h-xxxl {
  padding-left: 38px;
  padding-right: 38px;
}

.py-h-xxxl {
  padding-top: 38px;
  padding-bottom: 38px;
}

.pt-h-xxxl {
  padding-top: 38px;
}

.pb-h-xxxl {
  padding-bottom: 38px;
}

.pl-h-xxxl {
  padding-left: 38px;
}

.pr-h-xxxl {
  padding-right: 38px;
}

.p-xxxxl {
  padding: 40px;
}

.px-xxxxl {
  padding-left: 40px;
  padding-right: 40px;
}

.py-xxxxl {
  padding-top: 40px;
  padding-bottom: 40px;
}

.pt-xxxxl {
  padding-top: 40px;
}

.pb-xxxxl {
  padding-bottom: 40px;
}

.pl-xxxxl {
  padding-left: 40px;
}

.pr-xxxxl {
  padding-right: 40px;
}

.p-xxxxxl {
  padding: 44px;
}

.px-xxxxxl {
  padding-left: 44px;
  padding-right: 44px;
}

.py-xxxxxl {
  padding-top: 44px;
  padding-bottom: 44px;
}

.pt-xxxxxl {
  padding-top: 44px;
}

.pb-xxxxxl {
  padding-bottom: 44px;
}

.pl-xxxxxl {
  padding-left: 44px;
}

.pr-xxxxxl {
  padding-right: 44px;
}

.p-xxxxxxl {
  padding: 48px;
}

.px-xxxxxxl {
  padding-left: 48px;
  padding-right: 48px;
}

.py-xxxxxxl {
  padding-top: 48px;
  padding-bottom: 48px;
}

.pt-xxxxxxl {
  padding-top: 48px;
}

.pb-xxxxxxl {
  padding-bottom: 48px;
}

.pl-xxxxxxl {
  padding-left: 48px;
}

.pr-xxxxxxl {
  padding-right: 48px;
}

.p-xxxxxxxl {
  padding: 52px;
}

.px-xxxxxxxl {
  padding-left: 52px;
  padding-right: 52px;
}

.py-xxxxxxxl {
  padding-top: 52px;
  padding-bottom: 52px;
}

.pt-xxxxxxxl {
  padding-top: 52px;
}

.pb-xxxxxxxl {
  padding-bottom: 52px;
}

.pl-xxxxxxxl {
  padding-left: 52px;
}

.pr-xxxxxxxl {
  padding-right: 52px;
}

.p-xxxxxxxxl {
  padding: 56px;
}

.px-xxxxxxxxl {
  padding-left: 56px;
  padding-right: 56px;
}

.py-xxxxxxxxl {
  padding-top: 56px;
  padding-bottom: 56px;
}

.pt-xxxxxxxxl {
  padding-top: 56px;
}

.pb-xxxxxxxxl {
  padding-bottom: 56px;
}

.pl-xxxxxxxxl {
  padding-left: 56px;
}

.pr-xxxxxxxxl {
  padding-right: 56px;
}

.p-xxxxxxxxxl {
  padding: 60px;
}

.px-xxxxxxxxxl {
  padding-left: 60px;
  padding-right: 60px;
}

.py-xxxxxxxxxl {
  padding-top: 60px;
  padding-bottom: 60px;
}

.pt-xxxxxxxxxl {
  padding-top: 60px;
}

.pb-xxxxxxxxxl {
  padding-bottom: 60px;
}

.pl-xxxxxxxxxl {
  padding-left: 60px;
}

.pr-xxxxxxxxxl {
  padding-right: 60px;
}

.p-xxxxxxxxxxl {
  padding: 64px;
}

.px-xxxxxxxxxxl {
  padding-left: 64px;
  padding-right: 64px;
}

.py-xxxxxxxxxxl {
  padding-top: 64px;
  padding-bottom: 64px;
}

.pt-xxxxxxxxxxl {
  padding-top: 64px;
}

.pb-xxxxxxxxxxl {
  padding-bottom: 64px;
}

.pl-xxxxxxxxxxl {
  padding-left: 64px;
}

.pr-xxxxxxxxxxl {
  padding-right: 64px;
}

.p-xxxxxxxxxxxl {
  padding: 68px;
}

.px-xxxxxxxxxxxl {
  padding-left: 68px;
  padding-right: 68px;
}

.py-xxxxxxxxxxxl {
  padding-top: 68px;
  padding-bottom: 68px;
}

.pt-xxxxxxxxxxxl {
  padding-top: 68px;
}

.pb-xxxxxxxxxxxl {
  padding-bottom: 68px;
}

.pl-xxxxxxxxxxxl {
  padding-left: 68px;
}

.pr-xxxxxxxxxxxl {
  padding-right: 68px;
}

.p-xxxxxxxxxxxxl {
  padding: 72px;
}

.px-xxxxxxxxxxxxl {
  padding-left: 72px;
  padding-right: 72px;
}

.py-xxxxxxxxxxxxl {
  padding-top: 72px;
  padding-bottom: 72px;
}

.pt-xxxxxxxxxxxxl {
  padding-top: 72px;
}

.pb-xxxxxxxxxxxxl {
  padding-bottom: 72px;
}

.pl-xxxxxxxxxxxxl {
  padding-left: 72px;
}

.pr-xxxxxxxxxxxxl {
  padding-right: 72px;
}

.m-auto {
  margin: auto !important;
}

.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.my-auto {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

.mt-auto {
  margin-top: auto !important;
}

.mb-auto {
  margin-bottom: auto !important;
}

.ml-auto {
  margin-left: auto !important;
}

.mr-auto {
  margin-right: auto !important;
}

.m-xxxs {
  margin: 6px;
}

.mx-xxxs {
  margin-left: 6px;
  margin-right: 6px;
}

.my-xxxs {
  margin-top: 6px;
  margin-bottom: 6px;
}

.mt-xxxs {
  margin-top: 6px;
}

.mb-xxxs {
  margin-bottom: 6px;
}

.ml-xxxs {
  margin-left: 6px;
}

.mr-xxxs {
  margin-right: 6px;
}

.m-xxs {
  margin: 8px;
}

.mx-xxs {
  margin-left: 8px;
  margin-right: 8px;
}

.my-xxs {
  margin-top: 8px;
  margin-bottom: 8px;
}

.mt-xxs {
  margin-top: 8px;
}

.mb-xxs {
  margin-bottom: 8px;
}

.ml-xxs {
  margin-left: 8px;
}

.mr-xxs {
  margin-right: 8px;
}

.m-h-xxs {
  margin: 10px;
}

.mx-h-xxs {
  margin-left: 10px;
  margin-right: 10px;
}

.my-h-xxs {
  margin-top: 10px;
  margin-bottom: 10px;
}

.mt-h-xxs {
  margin-top: 10px;
}

.mb-h-xxs {
  margin-bottom: 10px;
}

.ml-h-xxs {
  margin-left: 10px;
}

.mr-h-xxs {
  margin-right: 10px;
}

.m-xs {
  margin: 12px;
}

.mx-xs {
  margin-left: 12px;
  margin-right: 12px;
}

.my-xs {
  margin-top: 12px;
  margin-bottom: 12px;
}

.mt-xs {
  margin-top: 12px;
}

.mb-xs {
  margin-bottom: 12px;
}

.ml-xs {
  margin-left: 12px;
}

.mr-xs {
  margin-right: 12px;
}

.m-small {
  margin: 16px;
}

.mx-small {
  margin-left: 16px;
  margin-right: 16px;
}

.my-small {
  margin-top: 16px;
  margin-bottom: 16px;
}

.mt-small {
  margin-top: 16px;
}

.mb-small {
  margin-bottom: 16px;
}

.ml-small {
  margin-left: 16px;
}

.mr-small {
  margin-right: 16px;
}

.m-med {
  margin: 20px;
}

.mx-med {
  margin-left: 20px;
  margin-right: 20px;
}

.my-med {
  margin-top: 20px;
  margin-bottom: 20px;
}

.mt-med {
  margin-top: 20px;
}

.mb-med {
  margin-bottom: 20px;
}

.ml-med {
  margin-left: 20px;
}

.mr-med {
  margin-right: 20px;
}

.m-lrg {
  margin: 24px;
}

.mx-lrg {
  margin-left: 24px;
  margin-right: 24px;
}

.my-lrg {
  margin-top: 24px;
  margin-bottom: 24px;
}

.mt-lrg {
  margin-top: 24px;
}

.mb-lrg {
  margin-bottom: 24px;
}

.ml-lrg {
  margin-left: 24px;
}

.mr-lrg {
  margin-right: 24px;
}

.m-h-lrg {
  margin: 26px;
}

.mx-h-lrg {
  margin-left: 26px;
  margin-right: 26px;
}

.my-h-lrg {
  margin-top: 26px;
  margin-bottom: 26px;
}

.mt-h-lrg {
  margin-top: 26px;
}

.mb-h-lrg {
  margin-bottom: 26px;
}

.ml-h-lrg {
  margin-left: 26px;
}

.mr-h-lrg {
  margin-right: 26px;
}

.m-xl {
  margin: 28px;
}

.mx-xl {
  margin-left: 28px;
  margin-right: 28px;
}

.my-xl {
  margin-top: 28px;
  margin-bottom: 28px;
}

.mt-xl {
  margin-top: 28px;
}

.mb-xl {
  margin-bottom: 28px;
}

.ml-xl {
  margin-left: 28px;
}

.mr-xl {
  margin-right: 28px;
}

.m-xxl {
  margin: 32px;
}

.mx-xxl {
  margin-left: 32px;
  margin-right: 32px;
}

.my-xxl {
  margin-top: 32px;
  margin-bottom: 32px;
}

.mt-xxl {
  margin-top: 32px;
}

.mb-xxl {
  margin-bottom: 32px;
}

.ml-xxl {
  margin-left: 32px;
}

.mr-xxl {
  margin-right: 32px;
}

.mx-h-xxl {
  margin-left: 34px;
  margin-right: 34px;
}

.my-h-xxl {
  margin-top: 34px;
  margin-bottom: 34px;
}

.mt-h-xxl {
  margin-top: 34px;
}

.mb-h-xxl {
  margin-bottom: 34px;
}

.ml-h-xxl {
  margin-left: 34px;
}

.mr-h-xxl {
  margin-right: 34px;
}

.m-xxxl {
  margin: 36px;
}

.mx-xxxl {
  margin-left: 36px;
  margin-right: 36px;
}

.my-xxxl {
  margin-top: 36px;
  margin-bottom: 36px;
}

.mt-xxxl {
  margin-top: 36px;
}

.mb-xxxl {
  margin-bottom: 36px;
}

.ml-xxxl {
  margin-left: 36px;
}

.mr-xxxl {
  margin-right: 36px;
}

.m-xxxxl {
  margin: 40px;
}

.mx-xxxxl {
  margin-left: 40px;
  margin-right: 40px;
}

.my-xxxxl {
  margin-top: 40px;
  margin-bottom: 40px;
}

.mt-xxxxl {
  margin-top: 40px;
}

.mb-xxxxl {
  margin-bottom: 40px;
}

.ml-xxxxl {
  margin-left: 40px;
}

.mr-xxxxl {
  margin-right: 40px;
}

.m-xxxxxl {
  margin: 44px;
}

.mx-xxxxxl {
  margin-left: 44px;
  margin-right: 44px;
}

.my-xxxxxl {
  margin-top: 44px;
  margin-bottom: 44px;
}

.mt-xxxxxl {
  margin-top: 44px;
}

.mb-xxxxxl {
  margin-bottom: 44px;
}

.ml-xxxxxl {
  margin-left: 44px;
}

.mr-xxxxxl {
  margin-right: 44px;
}

.m-xxxxxxl {
  margin: 48px;
}

.mx-xxxxxxl {
  margin-left: 48px;
  margin-right: 48px;
}

.my-xxxxxxl {
  margin-top: 48px;
  margin-bottom: 48px;
}

.mt-xxxxxxl {
  margin-top: 48px;
}

.mb-xxxxxxl {
  margin-bottom: 48px;
}

.ml-xxxxxxl {
  margin-left: 48px;
}

.mr-xxxxxxl {
  margin-right: 48px;
}

.m-xxxxxxxl {
  margin: 52px;
}

.mx-xxxxxxxl {
  margin-left: 52px;
  margin-right: 52px;
}

.my-xxxxxxxl {
  margin-top: 52px;
  margin-bottom: 52px;
}

.mt-xxxxxxxl {
  margin-top: 52px;
}

.mb-xxxxxxxl {
  margin-bottom: 52px;
}

.ml-xxxxxxxl {
  margin-left: 52px;
}

.mr-xxxxxxxl {
  margin-right: 52px;
}

.m-xxxxxxxxl {
  margin: 56px;
}

.mx-xxxxxxxxl {
  margin-left: 56px;
  margin-right: 56px;
}

.my-xxxxxxxxl {
  margin-top: 56px;
  margin-bottom: 56px;
}

.mt-xxxxxxxxl {
  margin-top: 56px;
}

.mb-xxxxxxxxl {
  margin-bottom: 56px;
}

.ml-xxxxxxxxl {
  margin-left: 56px;
}

.mr-xxxxxxxxl {
  margin-right: 56px;
}

.m-xxxxxxxxxl {
  margin: 60px;
}

.mx-xxxxxxxxxl {
  margin-left: 60px;
  margin-right: 60px;
}

.my-xxxxxxxxxl {
  margin-top: 60px;
  margin-bottom: 60px;
}

.mt-xxxxxxxxxl {
  margin-top: 60px;
}

.mb-xxxxxxxxxl {
  margin-bottom: 60px;
}

.ml-xxxxxxxxxl {
  margin-left: 60px;
}

.mr-xxxxxxxxxl {
  margin-right: 60px;
}

.m-xxxxxxxxxxl {
  margin: 64px;
}

.mx-xxxxxxxxxxl {
  margin-left: 64px;
  margin-right: 64px;
}

.my-xxxxxxxxxxl {
  margin-top: 64px;
  margin-bottom: 64px;
}

.mt-xxxxxxxxxxl {
  margin-top: 64px;
}

.mb-xxxxxxxxxxl {
  margin-bottom: 64px;
}

.ml-xxxxxxxxxxl {
  margin-left: 64px;
}

.mr-xxxxxxxxxxl {
  margin-right: 64px;
}

.m-xxxxxxxxxxxl {
  margin: 68px;
}

.mx-xxxxxxxxxxxl {
  margin-left: 68px;
  margin-right: 68px;
}

.my-xxxxxxxxxxxl {
  margin-top: 68px;
  margin-bottom: 68px;
}

.mt-xxxxxxxxxxxl {
  margin-top: 68px;
}

.mb-xxxxxxxxxxxl {
  margin-bottom: 68px;
}

.ml-xxxxxxxxxxxl {
  margin-left: 68px;
}

.mr-xxxxxxxxxxxl {
  margin-right: 68px;
}

.m-xxxxxxxxxxxxl {
  margin: 72px;
}

.mx-xxxxxxxxxxxxl {
  margin-left: 72px;
  margin-right: 72px;
}

.my-xxxxxxxxxxxxl {
  margin-top: 72px;
  margin-bottom: 72px;
}

.mt-xxxxxxxxxxxxl {
  margin-top: 72px;
}

.mb-xxxxxxxxxxxxl {
  margin-bottom: 72px;
}

.ml-xxxxxxxxxxxxl {
  margin-left: 72px;
}

.mr-xxxxxxxxxxxxl {
  margin-right: 72px;
}

.m-0 {
  margin: 0;
}

.mx-0 {
  margin-left: 0;
  margin-right: 0;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.mt-0 {
  margin-top: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.ml-0 {
  margin-left: 0;
}

.mr-0 {
  margin-right: 0;
}

.bb-xx-light-grey {
  border-bottom: 1px solid rgba(33, 33, 33, 0.08);
}

.border-blue {
  border: 1px solid #296FA2;
}
.border-rounded-light-blue {
  border: 1px solid #2BA3EF;
  border-radius: 100%;
}
.border-rounded-light-grey {
  border: 1px solid rgba(41, 57, 67, 0.5);
  border-radius: 100%;
}
.border2x-rounded-light-blue {
  border: 2px solid #2BA3EF;
  border-radius: 100%;
}

.br-1 {
  border-radius: 1px;
}
.br-2 {
  border-radius: 2px;
}
.br-xxxs {
  border-radius: 4px;
}
.br-pill {
  border-radius: 46px;
}
.br-circle {
  border-radius: 100%;
}

.box-shadow-soft {
  box-shadow: 0px 1px 3px rgba(63, 63, 68, 0.15), 0px 0px 0px rgba(63, 63, 68, 0.05);
}

.bg-xxx-light-grey {
  background-color: #FAFBFD;
}

.bg-xx-light-grey {
  background-color: rgba(33, 33, 33, 0.08);
}

.bg-x-light-grey {
  background-color: rgba(41, 57, 67, 0.3);
}

.bg-light-grey {
  background-color: rgba(41, 57, 67, 0.5);
}

.bg-grey {
  background-color: #293943;
}

.bg-xxxx-light-blue {
  background-color: rgba(43, 163, 239, 0.04);
}

.bg-light-blue {
  background-color: #2BA3EF;
}

.bg-blue {
  background-color: #296FA2;
}

.bg-light-green {
  background-color: #E2F9EF;
}

.bg-white {
  background-color: #fff;
}

.bg-transparent {
  background-color: transparent;
}

.bg-blue-check {
  background-image: url("../assets/check.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.ease-0-25s {
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.ease-0-15s {
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}
.ease-in-5s {
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.fade-in-5s {
  -webkit-animation: fadeIn 0.5s ease;
  -moz-animation: fadeIn 0.5s ease;
  -o-animation: fadeIn 0.5s ease;
  -ms-animation: fadeIn 0.5s ease;
  animation: fadeIn 0.5s ease;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*# sourceMappingURL=App.css.map */
